In [1]:
import pandas as pd

In [3]:
summary_df = pd.read_csv("../resources/2021_weekly_incidents_3_14.csv")
summary_df

   WeekNum  Actual  SMA  SMAvar  Prophet  Prophetvar
0        1     402  371     -31      326         -76
1        2     387  372     -15      330         -57
2        3     398  367     -31      328         -70
3        4     413  370     -43      315         -98
4        5     387  383      -4      300         -87
5        6     375  374      -1      296         -79
6        7     387  381      -6      306         -81
7        8     358  370      12      322         -36
8        9     332  357      25      335           3
9       10     249  361     112      341          92

In [4]:
print(summary_df.to_html())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>WeekNum</th>
      <th>Actual</th>
      <th>SMA</th>
      <th>SMAvar</th>
      <th>Prophet</th>
      <th>Prophetvar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>402</td>
      <td>371</td>
      <td>-31</td>
      <td>326</td>
      <td>-76</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>387</td>
      <td>372</td>
      <td>-15</td>
      <td>330</td>
      <td>-57</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>398</td>
      <td>367</td>
      <td>-31</td>
      <td>328</td>
      <td>-70</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>413</td>
      <td>370</td>
      <td>-43</td>
      <td>315</td>
      <td>-98</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>387</td>
      <td>383</td>
      <td>-4</td>
      <td>300</td>
      <td>-87</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>375</td>
      <td>374</td>
      <td>-1</td>
      <td>296</td>
      <td>-79</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>387</td>
      <td>381</td>
      <td>-6</td>
      <td>306</td>
      <td>-81</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>358</td>
      <td>370</td>
      <td>12</td>
      <td>322</td>
      <td>-36</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>332</td>
      <td>357</td>
      <td>25</td>
      <td>335</td>
      <td>3</td>
    </tr>
    <tr>
      <th>9</th>
      <td>10</td>
      <td>249</td>
      <td>361</td>
      <td>112</td>
      <td>341</td>
      <td>92</td>
    </tr>
  </tbody>
</table>